body{
    background-color: cadetblue;
}
canvas {
  float: left;
  width: 80%;
  border: 2px  black solid;
}
h1{
  color:goldenrod;
  text-shadow: 2px 2px black;
  font-family: 'Courier New', Courier, monospace;
  font-size: 4.5vw;
  margin: auto;
}
table {
  float: right;
  width: 18.5%;
  background-image: url(images/Material\ Texture/Wood/Wood-Whole.png);
  align-items: center;
  color: goldenrod;
  text-shadow: 2px 2px black;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2vw;
  border: 2px  black solid;
}
.header {
  font-size: 2vw;
  text-align: center;
}
button {
  font-size: 1vw;
  color: white;
  background-image: url(images/Material\ Texture/Stone/Stone-Whole.png);
}
